/* IMPORTS */

/* FONTS PATTAYA AND POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET SETTINGS */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CUSTOM STYLE*/
:root {

    --text-color-hero: #fff;
    --secondary-text-color-hero: #000;
    --main-color-name: #bcf0e4;
    --bg-color-hero: #ec3b83;
    --secondary-bg-color-hero: #ff99cc;
    --third-bg-color-hero: #f0bcc8;
    --bg-color: #ffe4ed;
    --secondary-bg-color: #fffbe4;
    --bg-color-card: #424242;
    --button-color: #5bb951;
    --secondary-button-color: #f2f063;
    --other-color: #bcc8f0;
    --secondary-other-color: #e2f0bc;

    --font-primary: "Poppins", sans-serif;
    --font-secundary: "Poppins", monospace;
    --font-third: "Pattaya", sans-serif;

    --color-light: #fff;
    --color-dark: #303030;
    --color-accent: #16e0bd;

    --font-regular: 300;
    --font-btn: 500;
    --font-bold: 900;

    --font-h1: 3rem;
    --font-h2: 2.25rem;
    --font-h3: 1.25rem;
    --font-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 00.125em 0.25em rgba(0, 0, 0, .15);
}

/* RESPONSIVE */
@media (min-width: 800px) {
    :root {

        /* ALTERANDO FONTE DE ACORDO COM O TAMNHO DA TELA*/
        --font-h1: 4.5rem;
        --font-h2: 3.75rem;
        --font-h3: 1.5rem;
        --font-body: 1.125rem;
    }
}

/* GENERAL STYLES */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: var(--font-primary);
    font-size: var(--font-body);
    line-height: 1.6;
    letter-spacing: 2.4px;
}

section {
    padding: 5em 2em;

}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--font-bold);
    color: var(--main-color-name);
    margin-top: .15em;
}

a:link {
    text-decoration: none;
}

/* TYPOGRAPHY  */

h1,
h2,
h3 {
    line-height: 1.1;

}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

.section--title {
    margin-bottom: .25em;

}

.section--title--intro {
    font-weight: var(--font-regular);
}

.section--title--intro strong {
    display: block;
}

.section--subtitle {
    font-size: var(--font-h3);
}

.section--subtitle--intro,
.section--subtitle-about {
    font-family: var(--font-secundary);
    background: var(--color-accent);
    margin-bottom: 2em;
    padding: .25em 1em;
}


/* HEADER */

.container--hero {
    background-color: var(--bg-color-hero);
    width: 100%;
    position: relative;
}

.nav-toggle {
    display: none;
}



/* INTRO SECTION */

.intro {
    position: relative;
}

.intro--img {
    box-shadow: var(--bs);
    border-radius: 50% 20% / 10% 40%;

}

.section--subtitle--intro {
    display: inline-block;
    border-radius: 7px;
}

.section--btn--intro,
.btn-about {
    font-weight: var(--font-btn);
    padding: 12px 20px;
    background: var(--other-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;


}

.section--btn--intro:hover {
    background: var(--bg-color);
    color: var(--secondary-bg-color-hero)
}


@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 2em;
        column-gap: 2em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro--img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section--subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}